[submodule "Spoons/CaptureHotkeys.spoon"]
	path = Spoons/CaptureHotkeys.spoon
	url = https://github.com/matthewfallshaw/CaptureHotkeys.spoon.git
[submodule "Spoons/AppHotkeys.spoon"]
	path = Spoons/AppHotkeys.spoon
	url = https://github.com/matthewfallshaw/AppHotkeys.spoon.git
