[submodule "Spoons/CaptureHotkeys.spoon"]
	path = Spoons/CaptureHotkeys.spoon
	url = git@github.com:matthewfallshaw/CaptureHotkeys.spoon.git
[submodule "Spoons/AppHotkeys.spoon"]
	path = Spoons/AppHotkeys.spoon
	url = git@github.com:matthewfallshaw/AppHotkeys.spoon.git
